#root {
  margin: 0 auto;
  text-align: center;
}

.weight-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view-block {
  min-width: 60vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid white !important;
  color: white !important;
}

.MuiInput-root {
  border-bottom: 1px solid white !important;
  color: white !important;
}

.MuiSelect-select .MuiSelect-outlined .MuiInputBase-input .MuiOutlinedInput-input {
  color: white !important;
  background-color: rgb(17 24 39) !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.MuiInputBase-root {
  color: white !important;
}

.MuiButtonBase-root {
  color: white !important;
}

.MuiSelect-icon {
  color: white !important;
}

.MuiPaper-root {
  background-color: rgb(17 24 39) !important;
}